<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="content/css/main.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="content/assets/graphs/examplegraph.js" defer></script>
    <script src="content/assets/scripts/jisho.js" defer></script>

</head>
<body>
    <header class="header">

        <div class="title_wrapper">
            
            <h2 class="title maintitle">
                🅰️ Nishant Suria
            </h2>
            
            <h3 class="title">
                &nbsp;&nbsp;&nbsp;&nbsp; is trying out AngularJS
            </h3>
        </div>
        
        <div class="user_wrapper">
            <div class="usericon">
                
                <h3 class="username">
                    NS
                </h3>
                <div class="normaltext">
                    Nishant
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="row_item"> 
            <div class="card accent">
                yeet
            </div>
            <div class="card">
                yeet
            </div>
        </div> 
        <div class="row_item"> 
            <div class="card">
                <h3 class="title normallineheight">🚀 Why choose Nishant Suria?</h3>
                <div id="examplegraph-container" class="graph" style="width:50vw"></div>
                Studies show that 25 out of every 10 dentists recommend Nishant Suria twice daily.
            </div>

            <div class="card accent">
                <h3 class="title normallineheight">
                    📖 Japanese Dictionary
                </h3>
                <div ng-app="jishoApp"  ng-controller="jishoController as jisho">
                    <input ng-model="search_query" class="dict_input search_query" type="text" />
                    <button class="search_button" ng-click="update()">search/検索</button>
                    <div class="dict_viewport">
                        <ul class="dict_entry_list">
                            <span>{{msg}}</span>
                            <li ng-repeat="word in data.words">
                                {{word.reading.kanji}}【{{word.reading.kana}}】 
                                <br />
                                <ul>
                                    <li ng-repeat="senses in word.senses">
                                        <span ng-repeat="gloss in senses.glosses">{{gloss}}; </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                

            </div>
        </div> 
    </main>
    

    
</body>
</html>